<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <h1>Your Players</h1>
  <% if (user) { %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% players.forEach(player => { %>  
          <tr>
            <td><%= player.name %> </td>
            <td><%= player.position %></td> 
            <td><%= player.status %> </td> 
          </tr>  
        <% }) %> 
      </tbody>
    </table>    
  </form>
  <% } %>

<%- include('../partials/footer') %>