<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <h1>Your Players</h1>
  <% if (user) { %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Status</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% players.forEach(player => { %>  
          <tr>
            <td><%= player.name %> </td>
            <td><%= player.position %></td> 
            <td><%= player.status %> </td> 
            <td>
              <form action="/players/<%= player._id %>?_method=DELETE" method="POST">
                <button type="submit">x</button>
              </form>
            </td>
          </tr>  
        </tbody>
      </table>    
    <% }) %>
  <% } %>  

<%- include('../partials/footer') %>