<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/teams/show.css">
<%- include('../partials/nav') %>

<div>
  <h1><%= team.name %></h1>
  <h2><%= team.owner.name %>'s team </h2> 
  <% if (user.profile._id.equals(team.owner._id)) { %>
    <form action="/teams/<%= team._id %>/players" method="POST"> 
      <select name="playerId">
        <% players.forEach(player => { %>  
          <option value="<%= player._id %>">
            <%= player.name %>  
            <%= player.position %>  
            <%= player.status %>  
          </option> 
        <% }) %> 
      </select>
        <button class="add-btn" type="submit">Add Player</button>    
    </form>
    <% } %>
    <% if (user.profile._id.equals(team.owner._id)) { %>
      <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
        <button class="delete-btn" type="submit">Delete Team</button>
      </form>
    <% } %> 
    <h3>Team Players</h3>
    <table>
      <thead>
        <tr>
          <th class="t-head">Name</th>
          <th class="t-head">Position</th>
          <th class="t-head">Status</th>
        </tr>
      </thead>
      <tbody>
        <% team.players.forEach(player => { %>  
          <tr>
            <td><%= player.name %></td>
            <td><%= player.position %></td> 
            <td><%= player.status %></td> 
          </tr>  
        <% }) %> 
      </tbody>
    </table> 
</div>

<%- include('../partials/footer') %>